export APP_NAME=com.igwet
export AUTH0_DOMAIN=your.auth0.com
export AUTH0_CLIENT_ID=yourCLIENTid
export AUTH0_CLIENT_SECRET=your-client-SECRET
export MG_DOMAIN=mg.example.com
export MG_API_KEY=key-your-mg-api-key
export PGUSER=phx
export TWILIO_ACCOUNT_SID=<account sid here>
export TWILIO_AUTH_TOKEN=<auth token>
