<h1>Listing Fleep Conversations</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Initial</th>
      <th>Name</th>
      <th>About</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
<%= for node <- @nodes do %>
    <tr>
      <td><%= node.date %></td>
      <td><%= link node.initials, to: "fleep/" <> node.initials %></td>
      <td><%= node.name%></td>
      <td><%= node.about %></td>
      <td><%= node.size %></td>
    </tr>
<% end %>
  </tbody>
</table>
