/* This file is for your main application css. */
.igwet-logo {
  width: 78px;
  height: 78px;
  display: inline-block;
  margin-bottom: 1em;
  background-image: url("/images/igwet_logo.png");
  background-repeat: no-repeat;
  background-size: 78px 78px;
}

h3 {
  font-style: oblique;
}
span.author {
  font-style: italic;
}
.row.footer {
  text-align: center;
}
div#footer.small {
  display: inline-block;
}
