<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IGWET: <%= Enum.at(Regex.run(~r/Elixir\.IgwetWeb\.(.*)View/, to_string(@view_module)),1) %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
          <%= if @current_user do %>
            <li><a href="/">Home</a></li>
            <li><a href="/reminders">Reminders</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/groups">Groups</a></li>
            <li><a href="/nodes">Nodes</a></li>
            <li><a href="/edges">Edges</a></li>
            <li><a href="/users">Users</a></li>
            <li class="active"><a href="/logout">Logout</a></li>
          <% else %>
            <li><a href="/">Home</a></li>
            <li><a href="/auth/auth0">Login</a></li>
          <% end %>
          </ul>
        </nav>
        <span><img src="/images/igwet_logo.png"></span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= @inner_content %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <!-- script src="<%= static_path(@conn, "/node_modules/@asciidoctor/core/dist/browser/asciidoctor.js") %>"></script -->
  </body>
</html>
