<h1><%= @event.name %></h1>
<h2><%= @group.name %></h2>
<h3><%= @event.date %></h3>

<ul>
  <li>
    <strong>Allowed Attendees:</strong> <%= @event.size %>
  </li>
  <li>
    <strong>Current Attendees:</strong> <%= @current %>
  </li>
</ul>

<ul>
  <h3>Households</h3>
  <%= for house <- @houses do %>
    <li>
      <%= link(house.email <> " (" <> house.name <> "): " <> house.meta.current,
          to: node_path(@conn, :show, house)) %>:
    </li>
  <% end %>
</ul>
